@import "tailwindcss";

.slick-prev::before{
   display: none; 
}
.slick-next::before{
    display: none; 
}
.icon:hover path {
      fill: blue;
}


input[type=range]::-webkit-slider-thumb{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ff624c;
    pointer-events: auto;
    cursor: pointer;
    -webkit-appearance: none;
    border: none;
    
}
input[type=range]::-moz-range-thumb{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ff624c;
    pointer-events: auto;
    cursor: pointer;
    -webkit-appearance: none;
    border: none;
    
}