@import "tailwindcss";

.slick-prev::before{
   display: none; 
}
.slick-next::before{
    display: none; 
}
.icon:hover path {
      fill: blue;
}
/* select {
-webkit-appearance: none;
-moz-appearance: none;

} */

input[type=range]::-webkit-slider-thumb{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: purple;
    pointer-events: auto;
    cursor: pointer;
    -webkit-appearance: none;
    
}
input[type=range]::-moz-range-thumb{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: purple;
    pointer-events: auto;
    cursor: pointer;
    -webkit-appearance: none;
    
}